<div class="wrap">
  <mat-card *ngIf="currentData">
    <mat-card-header>
      <mat-card-title>{{ currentCountry }}</mat-card-title>
      <mat-card-subtitle>
        Last Updated: {{ currentData.lastUpdate | timeago }}
      </mat-card-subtitle>
      <button mat-icon-button *ngIf="searchCriteria.country !== 'world'">
        <mat-icon color="warn" (click)="removeCountry()">delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          ><div class="list-container">
            <span>Confirmed:</span>
            <span>{{ currentData.confirmed.value | number }}</span>
          </div></mat-list-item
        >
        <mat-list-item
          ><div class="list-container">
            <span>Deaths:</span
            ><span>{{ currentData.deaths.value | number }}</span>
          </div></mat-list-item
        >
        <mat-list-item
          ><div class="list-container">
            <span>Recovered:</span>
            <span>{{ currentData.recovered.value | number }}</span>
          </div></mat-list-item
        >
        <mat-list-item
        ><div class="list-container">
          <span>Recovered/Death Ratio:</span>
          <span>{{ currentData.recovered.value / currentData.deaths.value | number }}</span>
        </div></mat-list-item
      >
      <mat-list-item
      ><div class="list-container">
        <span>Death/Confirmed %:</span>
        <span>{{ currentData.deaths.value / currentData.confirmed.value | percent:'1.1-2' }}</span>
      </div></mat-list-item
    >
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
