<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>COVID Data Tracker</span>
    <div class="spacer"></div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="addItem"
      *ngIf="!currentRoute.includes('counties')"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="currentRoute.includes('counties')"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <app-navigation *ngIf="!isMobile"></app-navigation>
    <button mat-icon-button (click)="showCredits()">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isMobile">
    <div class="spacer"></div>
    <app-navigation></app-navigation>
    <div class="spacer"></div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #addItem="matMenu">
  <span *ngIf="currentRoute.includes('countries')">
    <span *ngFor="let country of dataService.countryList">
      <button (click)="addNewItem('country', country)" mat-menu-item>
        {{ country.name }}
      </button>
    </span>
  </span>
  <span *ngIf="currentRoute.includes('states')">
    <span *ngFor="let state of dataService.statesArr">
      <button (click)="addNewItem('state', state)" mat-menu-item>
        {{ state }}
      </button>
    </span>
  </span>
</mat-menu>
