<mat-list>
  <mat-list-item
    ><div class="container">
      <span>Built by:</span>
      <a href="https://leonlovett.me" target="_blank"> Leon Lovett</a>
    </div></mat-list-item
  >
  <mat-list-item
    ><div class="container">
      <span>Data Source:</span>
      <a href="https://github.com/mathdroid/covid-19-api" target="_blank">
        Mathdroid</a
      >
    </div></mat-list-item
  >
  <mat-list-item
    ><div class="container">
      <span>Web Framework:</span>
      <a href="https://angular.io" target="_blank"> Angular</a>
    </div></mat-list-item
  >
  <mat-list-item
    ><div class="container">
      <span>Web Hosting:</span>
      <a href="https://firebase.google.com" target="_blank"> Firebase</a>
    </div></mat-list-item
  >
  <mat-list-item>
    <div class="container">
      <span>App Version:</span>
      <span>1.0.0</span>
    </div>
  </mat-list-item>
</mat-list>
